# Default ignored files
/../../govt./.idea/shelf/
/../../govt./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../govt./.idea/httpRequests/
# Datasource local storage ignored files
/../../govt./.idea/dataSources/
/../../govt./.idea/dataSources.local.xml
